<!-- ACTIVITIES -->
<section class="section" id="activities">
	<div class="container">

		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="title-box">
					<p class="title-alt">¿Qué hacer?</p>
					<h3 class="fadeIn animated wow" data-wow-delay=".1s">Los
						mejores planes</h3>
					<div class="border"></div>
				</div>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-sm-4">
				<div class="service-item animated fadeInLeft wow"
					data-wow-delay=".1s">
					<img src="images/icons/bridge.svg" width="48" alt="Brooklyn Bridge">
					<div class="service-detail">
						<h4>Brooklyn Bridge</h4>
						<p>2,5km y media hora. Eso es lo que nos llevará recorrer a
							pie el puente de Brooklyn. Sin embargo, lo que tardaremos en
							olvidar esta experiencia no se puede cuantificar tan fácilmente.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="service-item animated fadeInDown wow"
					data-wow-delay=".3s">
					<img src="images/icons/buildings.svg" width="48"
						alt="Atardecer desde Dumbo">
					<div class="service-detail">
						<h4>Atardecer desde Dumbo</h4>
						<p>Al otro lado del puente de Brooklyn es donde se puede
							disfrutar de las mejores vistas de la gran manzana. Nada mejor
							para acabar un día tras un largo paseo.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="service-item animated fadeInRight wow"
					data-wow-delay=".5s">
					<img src="images/icons/skyscraper.svg" width="48"
						alt="Vistas desde lo alto">
					<div class="service-detail">
						<h4>Vistas desde lo alto</h4>
						<p>De día o de noche, desde el Top of Rock, el Empire State,
							el edificio Chrysler o el Observatory Deck. Da igual la
							combinación, todo son buenas opciones para sentirnos chiquititos
							entre tantos rascacielos.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-sm-4">
				<div class="service-item animated fadeInLeft wow"
					data-wow-delay=".1s">
					<img src="images/icons/park.svg" width="48"
						alt="Perderse en Central Park">
					<div class="service-detail">
						<h4>Perderse en Central Park</h4>
						<p>Dar un paseo durante el fin de semana por Central Park para
							sentirse como un auténtico neyorkino. Descubrir cada uno de los
							rincones del parque y simplemente dejarse sorprender.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="service-item animated fadeInDown wow"
					data-wow-delay=".3s">
					<img src="images/icons/fastfood.svg" width="48"
						alt="Comer en una hamburguesería neyorkina">
					<div class="service-detail">
						<h4>Comer en una hamburguesería neyorkina</h4>
						<p>Viajar también es conocer y disfrutar de la gastronomía del
							lugar. Aprovecha para disfrutar de una buena hamburguesa en Shake
							Shack, Five Guys, J.G Melón o cualquier otro lugar que te llame
							la atención.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="service-item animated fadeInRight wow"
					data-wow-delay=".5s">
					<img src="images/icons/pointer.svg" width="48"
						alt="Disfrutar del ambiente de Times Square">
					<div class="service-detail">
						<h4>Disfrutar del ambiente de Times Square</h4>
						<p>Gente, bullicio, tiendas, tráfico, luces, pantallas
							gigantes, rodaje de película,... Todo esto y más es lo que
							encontraremos en el epicentro de la gran manzana. Times Square
							sorprende a todo aquel que lo visita.</p>
					</div>
				</div>
			</div>
		</div>


	</div>
</section>
