
<!-- FAQ -->
<section class="section" id="faq">
	<div class="container">

		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="title-box">
					<p class="title-alt">Faq</p>
					<h3 class="fadeIn animated wow" data-wow-delay=".1s">Preguntas
						con respuestas sencillas</h3>
					<div class="border"></div>
				</div>
			</div>
		</div>

		<div class="row m-t-30">
			<div class="col-md-5 col-md-offset-1">
				<!-- Question/Answer -->
				<div class="question-q-box">Q.</div>
				<div class="animated fadeInLeft wow" data-wow-delay=".1s">
					<h4 class="question" data-wow-delay=".1s">¿Cuáles son los
						datos del vuelo de ida?</h4>
					<p class="answer">Salimos de TFN el día 10/02/2018 a las 07:00h
						en el vuelo IB3945 y llegaremos a las 10:40h. Haremos una pequeña
						escala en Madrid y vovleremos a salir a las 12:50h rumbo a NY en
						el vuelo IB6251. La llegada a NY será a las 15:10h.</p>
				</div>

				<!-- Question/Answer -->
				<div class="question-q-box">Q.</div>
				<div class="animated fadeInLeft wow" data-wow-delay=".3s">
					<h4 class="question">¿Cómo sé cuáles son las atracciones de
						las que podemos disfrutar con nuestro pase?</h4>
					<p class="answer">
						El pase que hemos escogido es el <a
							href="https://es.newyorkpass.com/" target="_blank">New York
							Pass</a> y nos da acceso a muchísimas atracciones de manera gratuita.
						En la página oficial podemos ver el <a
							href="https://es.newyorkpass.com/new-york-attractions/"
							target="_blank">listado de atracciones</a> a las que tenemos
						acceso con el pase.
					</p>
				</div>

				<!-- Question/Answer -->
				<div class="question-q-box">Q.</div>
				<div class="animated fadeInLeft wow" data-wow-delay=".5s">
					<h4 class="question">¿Qué documentación debo llevar para el
						viaje?</h4>
					<p class="answer">
						Es importante llevar el Pasaporte en vigor y que además le queden
						al menos tres meses para que caduque. A parte de eso sólo será
						necesario que lleves el ESTA. <b>Recomendación: </b>¡Lleva una
						fotocopia de cada uno de los documentos por si surge algún
						problema!
					</p>
				</div>

			</div>

			<div class="col-md-5">
				<!-- Question/Answer -->
				<div class="question-q-box">Q.</div>
				<div class="animated fadeInRight wow" data-wow-delay=".2s">
					<h4 class="question">¿Cuáles son los datos del vuelo de
						vuelta?</h4>
					<p class="answer">La vuelta será el día 17/02/2018 en el vuelo
						IB4000 que sale de JFK a las 19:00h y llega a MAD a las 08:15h. El
						último trayecto sale de MAD a las 11:35h en el vuelo IB3910 y
						llegará a TFS a las 13:40h.</p>
				</div>

				<!-- Question/Answer -->
				<div class="question-q-box">Q.</div>
				<div class="animated fadeInRight wow" data-wow-delay=".4s">
					<h4 class="question">¿Cómo indico qué atracciones me gustaría
						visitar?</h4>
					<p class="answer">
						Como somos muchos hemos y podemos tener intereses diferentes,
						hemos preparado una pequeña encuesta para que cuentes cuáles son
						esos sitios que no te gustaría perderte. Corre, date prisa y
						rellenar la encuesta <a target=""
							href="https://goo.gl/forms/Ix6jLdYERMPUOT7r1">aquí.</a>
					</p>
				</div>

				<!-- Question/Answer -->
				<div class="question-q-box">Q.</div>
				<div class="animated fadeInRight wow" data-wow-delay=".6s">
					<h4 class="question">¿Cómo se tramita el ESTA?</h4>
					<p class="answer">
						La tramitación del ESTA es muy sencilla y se puede realizar
						directamente a través de la <a
							href="https://esta.cbp.dhs.gov/esta/application.html;jsessionid=GbJ1hK9HLmndQbHSWlsHgLPTtvZLFQpp2nZmTHGXy1xsT8lJGN12!2057720296?execution=e1s1"
							target="_blank">web oficial.</a> Una vez tramitada tendrá una
						validez de dos años.
					</p>
				</div>

			</div>
		</div>

	</div>
</section>
