
<section class="home bg-img-1" id="home">
	<div class="bg-overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="home-wrapper text-center">
					<h2 class="animated fadeInDown wow text-white" data-wow-delay=".1s">
						Viaje a New York <span class="text-colored">Febrero 2018</span>
					</h2>
					<p class="animated fadeInDown wow text-light" data-wow-delay=".2s">
						Un camino por descubrir, una aventura por vivir, un viaje para el
						recuerdo.</p>
					<div class="clearfix"></div>
				</div>

			</div>
		</div>
	</div>
</section>
