<section class="bg-img-2">
	<div class="bg-overlay"></div>
	<div class="container clients section">
		<div class="row" id="outlets-inside-city">
			<div class="col-sm-12 text-center">
				<div class="title-box">
					<p class="title-alt">Compras</p>
					<h3 class="fadeIn animated wow text-white" data-wow-delay=".1s">Los
						mejores outlets EN LA CIUDAD</h3>
					<div class="border"></div>
				</div>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-sm-12">
				<div class="">
					<div class="brand-item animated fadeInLeft wow"
						data-wow-delay=".1s">
						<a href="https://www.c21stores.com/"><img alt="Century 21"
							src="images/clients/century21.png"></a>
					</div>
					<div class="brand-item animated fadeInLeft wow"
						data-wow-delay=".2s">
						<a
							href="https://es.burlingtoncoatfactory.com/burlingtoncoatfactory/Default.aspx"><img
							alt="Marshalls" src="images/clients/marshalls.png"></a>
					</div>
					<div class="brand-item animated fadeInLeft wow"
						data-wow-delay=".3s">
						<a href="http://www.saksoff5th.com/Entry.jsp"><img
							alt="Saks 5th Avenue" src="images/clients/saks.png"></a>
					</div>
					<div class="brand-item animated fadeInLeft wow"
						data-wow-delay=".4s">
						<a href="http://www.tjx.com/businesses/US/tj-maxx.html"><img
							alt="TJMaxx" src="images/clients/tjmaxx.png"></a>
					</div>
					<div class="brand-item animated fadeInLeft wow"
						data-wow-delay=".5s">
						<a
							href="https://es.burlingtoncoatfactory.com/burlingtoncoatfactory/Default.aspx"><img
							alt="Burlington Coat Factory" src="images/clients/burlington.png"></a>
					</div>
					<div class="brand-item animated fadeInLeft wow"
						data-wow-delay=".6s">
						<a
							href="https://locations.bloomingdales.com/upper-west-side-outlet"><img
							alt="Bloomingdale's Outlet"
							src="images/clients/bloomingdales.png"></a>
					</div>
					<div class="brand-item animated fadeInLeft wow"
						data-wow-delay=".7s">
						<a href="https://www.rossstores.com/"><img alt="ROSS"
							src="images/clients/ross.png"></a>
					</div>
					<div class="brand-item animated fadeInLeft wow"
						data-wow-delay=".8s">
						<a href="https://www.nordstromrack.com/"><img
							alt="Nordstrom Rack" src="images/clients/nordstrom.png"></a>
					</div>
				</div>
			</div>
		</div>

		<div class="row" id="outlets-outside-city">
			<div class="col-sm-12 text-center">
				<div class="title-box">
					<p class="title-alt">Compras</p>
					<h3 class="fadeIn animated wow text-white" data-wow-delay=".1s">Los
						mejores outlets fuera FUERA DE LA CIUDAD</h3>
					<div class="border"></div>
				</div>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-sm-12">
				<div class="">
					<div class="brand-item animated fadeInLeft wow"
						data-wow-delay=".1s">
						<a href="http://www.premiumoutlets.com/outlet/woodbury-common"
							target="_blank"><img alt="Woodbury Common Premium Outlets"
							src="images/clients/woodbury.svg" class="svgimg"></a>
					</div>
					<div class="brand-item animated fadeInLeft wow"
						data-wow-delay=".2s">
						<a href="http://www.simon.com/mall/the-mills-at-jersey-gardens"
							target="_blank"><img alt="The Mills at Jersey Gardens"
							src="images/clients/jerseygardens.svg" class="svgimg"></a>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

