<section class="section bg-gray" id="pleasures">
	<div class="container">

		<div class="row">
			<div class="col-sm-6">
				<div class="feature-detail">

					<div class="title-box">
						<p class="title-alt">Mis intereses</p>
						<h3 class="fadeIn animated wow" data-wow-delay=".1s">Comenta
							cuáles son tus preferencias y los sitios que no quieres perderte</h3>
						<div class="border"></div>
					</div>

					<ul class="zmdi-hc-ul">
						<li class="fadeIn animated wow" data-wow-delay=".1s"><i
							class="zmdi-hc-li zmdi zmdi-caret-right-circle text-colored"></i><span
							class="text-muted">¿Cómo prefieres hacer el traslado del
								aeropuerto al hotel?</span></li>

						<li class="fadeIn animated wow" data-wow-delay=".2s"><i
							class="zmdi-hc-li zmdi zmdi-caret-right-circle text-colored"></i><span
							class="text-muted">¿Cuáles son los planes que no te
								quieres perder?</span></li>

						<li class="fadeIn animated wow" data-wow-delay=".3s"><i
							class="zmdi-hc-li zmdi zmdi-caret-right-circle text-colored"></i><span
							class="text-muted">¿Dónde te gustaría comer?</span></li>

						<li class="fadeIn animated wow" data-wow-delay=".4s"><i
							class="zmdi-hc-li zmdi zmdi-caret-right-circle text-colored"></i><span
							class="text-muted">¿Qué actividades quieres hacer?</span></li>

					</ul>

					<a href="https://goo.gl/forms/Ix6jLdYERMPUOT7r1"
						class="btn btn-primary btn-shadow btn-rounded w-lg animated fadeInDown wow"
						data-wow-delay=".4s" target="_blank">Rellena la encuesta con
						tus preferencias</a>
				</div>
			</div>

			<div class="col-sm-6" style="margin-top: 50px">
				<img src="images/survey.jpg"
					class="img-responsive fadeIn animated wow" data-wow-delay=".2s">
			</div>

		</div>
	</div>
</section>
