
<section class="section bg-gray" id="team">
	<div class="container">

		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="title-box">
					<p class="title-alt">Equipo</p>
					<h3 class="fadeIn animated wow" data-wow-delay=".1s">Los
						mejores compañeros de viaje</h3>
					<div class="border"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row team text-center">
					<div class="col-sm-4">
						<div class="team-member animated fadeInDown wow"
							data-wow-delay=".1s">
							<img src="images/team/team-ri.jpg" alt="team-member"
								class="img-responsive img-circle">
							<h4>Rita Díaz Adán</h4>
							<p class="text-muted">La artífice del proyecto</p>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="team-member animated fadeInDown wow"
							data-wow-delay=".3s">
							<img src="images/team/team-to.jpg" alt="team-member"
								class="img-responsive img-circle">
							<h4>Antonio Manuel López González</h4>
							<p class="text-muted">El mejor de los ayudantes</p>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="team-member animated fadeInDown wow"
							data-wow-delay=".5s">
							<img src="images/team/team-carmen.jpg" alt="team-member"
								class="img-responsive img-circle">
							<h4>Carmen María Díaz Adán</h4>
							<p class="text-muted">La cómplice necesaria</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row team text-center">
					<div class="col-sm-4">
						<div class="team-member animated fadeInDown wow"
							data-wow-delay=".1s">
							<img src="images/team/team-papi.jpg" alt="team-member"
								class="img-responsive img-circle">
							<h4>Manuel Díaz Herrera</h4>
							<p class="text-muted">El que se quedará en el centro de Star
								Wars</p>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="team-member animated fadeInDown wow"
							data-wow-delay=".3s">
							<img src="images/team/team-mami.jpg" alt="team-member"
								class="img-responsive img-circle">
							<h4>Constanza Adán Méndez</h4>
							<p class="text-muted">La que se apunta a un bombardeo</p>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="team-member animated fadeInDown wow"
							data-wow-delay=".5s">
							<img src="images/team/team-lolo.jpg" alt="team-member"
								class="img-responsive img-circle">
							<h4>Manuel Díaz Adán</h4>
							<p class="text-muted">La incorporación más dubitativa</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row team text-center">
					<div class="col-sm-4">
						<div class="team-member animated fadeInDown wow"
							data-wow-delay=".1s">
							<img src="images/team/team-du.jpg" alt="team-member"
								class="img-responsive img-circle">
							<h4>Dulce López González</h4>
							<p class="text-muted">La viajera entusiasta a la que todo le
								gusta</p>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="team-member animated fadeInDown wow"
							data-wow-delay=".3s">
							<img src="images/team/team-oli.jpg" alt="team-member"
								class="img-responsive img-circle">
							<h4>Olivia Esther Morales Rodríguez</h4>
							<p class="text-muted">La que verá cumplido uno de sus sueños</p>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="team-member animated fadeInDown wow"
							data-wow-delay=".5s">
							<img src="images/team/team-ida.jpg" alt="team-member"
								class="img-responsive img-circle">
							<h4>Idaira Pérez Hernández</h4>
							<p class="text-muted">La última incorporación al equipo</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
