<footer class="section bg-gray footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="footer-alt">
					<p class="pull-right text-muted m-b-0">2018 © Rita Díaz Adán</p>
					<a class="navbar-brand logo" href="index.html"> <i
						class="zmdi zmdi-navigation"></i> <span>Viaje a New York</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<a href="#" class="back-to-top"> <i class="zmdi zmdi-chevron-up">
</i>
</a>

<!-- js placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>
<!-- Jquery easing -->
<script type="text/javascript" src="js/jquery.easing.1.3.min.js"></script>
<script src="js/wow.min.js"></script>

<!--sticky header-->
<script type="text/javascript" src="js/jquery.sticky.js"></script>

<!--common script for all pages-->
<script src="js/jquery.app.js"></script>