<div class="navbar navbar-custom navbar-fixed-top sticky"
	role="navigation">
	<div class="container">

		<!-- Navbar-header -->
		<div class="navbar-header">
			<!-- Responsive menu button -->
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<i class="zmdi zmdi-menu"></i>
			</button>

			<!-- LOGO -->
			<a class="navbar-brand logo" href="index.html"> <i
				class="zmdi zmdi-navigation"></i> <span>Viaje a New York</span>
			</a>

		</div>
		<!-- end navbar-header -->

		<!-- menu -->
		<div class="navbar-collapse collapse" id="navbar-menu">

			<!-- Navbar left -->
			<ul class="nav navbar-nav nav-custom-left">
				<li><a href="index.html">Inicio</a></li>
				<li><a href="index.html#team">Equipo</a></li>
				<li><a href="index.html#activities">Planes</a></li>
				<li><a href="index.html#pleasures">Mis intereses</a></li>
				<li class="dropdown"><a href="#" data-toggle="dropdown">
						Outlets <span class="caret"></span>
				</a>
					<ul class="dropdown-menu arrow">
						<li><a href="index.html#outlets-inside-city">En la ciudad</a></li>
						<li><a href="index.html#outlets-outside-city">Fuera de la
								ciudad</a></li>
					</ul></li>
				<li><a href="index.html#faq">FAQ</a></li>
				<li><a href="map.html">Mapa</a></li>
				<li><a href="blog.html">Blog</a></li>
			</ul>

		</div>
		<!--/Menu -->
	</div>
	<!-- end container -->
</div>
<!-- End navbar-custom -->